@use "./quickBase.scss";

.pane {
  @extend %pane;
}

.paneHeader {
  @extend %paneHeader;
}

.title {
  @extend %title;
}

.textarea {
  @extend %textarea;
}

.paneActions {
  @extend %paneActions;
}

.code {
  @extend %code;
}
